{
  "find": "",
  "factory": "",
  "earn": "",
  "findnft": "",
  "math": "",
  "mortgage": "",
  "findnftRender": "",
  "mortgageRender": "",
  "mortgagePoolFactory": "",
  "signatureAddress": "",
  "weth": "",
  "owner": "",
  "pcnftOwner": "",
  "ponftOwner": ""
}